@import 'screen-move-phone.css';

.hidden {
    position: absolute;
    left: -100rem;
}

main {
    margin: 0 2rem;
    background-color: var(--Dark-desaturated-blue);
    border-radius: .5rem;
    overflow: hidden;
}

.screen {
    aspect-ratio: 16 / 9;
    border: 2px solid var(--Soft-violet);
    border-radius: .5rem .5rem 0 0;
    outline: 1px solid var(--Soft-violet);
    outline-offset: -1.5rem;
    /* background-image: url('../images/image-header-phone.jpg'); */
    /* mix-blend-mode: lighten; */
    background-image: url('../images/image-header-desk.jpg');
    /* background-size: 325%;
    background-position: 50% 85%; */
    animation: screen-move-phone 30s linear infinite;
    position: relative;
}
    .screen::before,
    .screen::after {
        content: '';
        position: absolute;
        background-color: var(--Soft-violet);
        height: 3px;
    }
        .screen::before {
            width: 7rem;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0 0 1rem 1rem;
        }
        .screen::after {
            width: 10rem;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 1rem 1rem 0 0;
        }

    .overlay {
        position: absolute;
        inset: 0;
        /* background-color: var(--Soft-violet);
        opacity: .5; */
    }

section {
    padding: 2rem;
    text-align: center;
}

.info {
    font-family: 'Inter', sans-serif;
}
    .info h2 {
        font-size: 1.75rem;
        color: var(--White);
        font-weight: 700;
    }
    .info p {
        /* font-size: 2rem; */
        color: var(--Slightly-transparent-white-paragraph);
        margin: 1.5rem 0 2rem;
    }
    .accent {
        color: var(--Soft-violet);
    }

.stats {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: space-between;
}
    .stats span {
        color: var(--White);
        font-size: 1.5rem;
    }
    .stats h3 {
        color: var(--Slightly-transparent-white-stats-headings);
        text-transform: uppercase;
        font-size: .7rem;
    }

.attribution {
    margin-top: auto;
    font-size: .6rem; 
    text-align: center;
    padding: .5rem;
    color: var(--Slightly-transparent-white-paragraph);
}
.attribution a { color: var(--Soft-violet); }