@import 'screen-move-desk.css';

@media (min-width: 1440px) {
    main {
        max-width: 60rem;
        display: grid;
        grid-template-columns: 5fr 3fr;
        padding: 1.5rem;
    }

    section {
        padding: 3.5rem;
        /* padding-right: 7rem; */
        text-align: left;
    }
        .info h2 {
            font-size: 2.4rem;
            letter-spacing: 1px;
        }
        .info p {
            font-size: 1.1rem;
            line-height: 1.75;
            margin: 1.5rem 0 5rem;
        }

        .stats {
            display: flex;
            justify-content: flex-start;
        }
            .stats > div {
                margin-right: 3rem;
            }

            .stats span {
                color: var(--White);
                font-size: 1.8rem;
            }
            .stats h3 {
                font-size: .9rem;
                line-height: 2;
            }

    .screen {
        order: 2;
        height: 100%;
        width: 100%;
        border-radius: .5rem;
        /* border: 4x solid var(--Soft-violet); */
        /* the line above somehow cancels border ?! */
        outline-offset: -2.5rem;
        /* background-size: 250%;
        background-position: 85% 0; */
        mix-blend-mode: lighten;
        animation: screen-move 30s linear infinite;
    }
        .screen::before,
        .screen::after {
            height: 5px;
        }

    .attribution {
        font-size: 1rem;
    }
}