@import './blocks.css';
@import './desktop-view.css';

:root {
    /* Colors */
    /* Primary */
    --Very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
    --Soft-violet: hsl(277, 64%, 61%); /* (accent) */

    /* Neutral */
    --White: hsl(0, 0%, 100%); /* (main heading, stats) */
    --Slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --Slightly-transparent-white-stats-headings: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
}

/* BASIC RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

button {    
    cursor: pointer;
}

/* ================= */
html {
    font-size: 15px;
}

body {
    min-height: 100vh;
    background-color: var(--Very-dark-blue);
    font-family: sans-serif;
    display: grid;
    place-items: center;
}

@media (min-width: 1440px) {
    body {
        display: grid;
        place-items: center;
    }
}