/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

:root {
    /* Colors */
    /* Primary */
    --Very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
    --Soft-violet: hsl(277, 64%, 61%); /* (accent) */

    /* Neutral */
    --White: hsl(0, 0%, 100%); /* (main heading, stats) */
    --Slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --Slightly-transparent-white-stats-headings: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
}

/* BASIC RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

button {    
    cursor: pointer;
}

/* ================= */
html {
    font-size: 15px;
}

body {
    min-height: 100vh;
    /* padding-top: 5rem; */
    background-color: var(--Very-dark-blue);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    height: 5rem;
}
.hidden {
    position: absolute;
    left: -100rem;
}

main {
    margin: 0 1.5rem;
    background-color: var(--Dark-desaturated-blue);
}

.screen {
    aspect-ratio: 16 / 9;
    background-image: url('../images/image-header-phone.jpg');
    /* background-size: 100%; */
}

section {
    padding: 2rem;
    text-align: center;
}

.info {
    font-family: 'Inter', sans-serif;
}
    .info h2 {
        font-size: 1.75rem;
        font-family: 'Inter', sans-serif;
        color: var(--White);
        font-weight: 700;
    }
    .info p {
        /* font-size: 2rem; */
        color: var(--Slightly-transparent-white-paragraph);
        margin: 1.5rem 0 2rem;
    }
    .accent {
        color: var(--Soft-violet);
    }

.stats {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: space-between;
}
    .stats span {
        color: var(--White);
        font-size: 1.5rem;
    }
    .stats h3 {
        color: var(--Slightly-transparent-white-stats-headings);
        text-transform: uppercase;
        font-size: .7rem;
    }

.attribution {
    margin-top: auto;
    font-size: 10px; 
    text-align: center;
    padding: 1rem;
    color: var(--Slightly-transparent-white-paragraph);
}
.attribution a { color: hsl(228, 45%, 44%); }